.login {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input-field input[type=text] + label, input[type=password] + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #282828 !important;
}

.input-field input[type=text], input[type=password], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #282828 !important;
    box-shadow: 0 2px 0 0 #282828 !important;
}

.input-field input[type=text]:focus + label, input[type=password]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: white !important;
}

.input-field input[type=text]:focus, input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid white !important;
    box-shadow: 0 2px 0 0 white !important;
}

.login-button {
    color: #282828;
}